<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCxOKH9nLf5YoBS1kwfVcdXzPyOgXRPVgM</string>
	<key>GCM_SENDER_ID</key>
	<string>758746573</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sauapPlanner</string>
	<key>PROJECT_ID</key>
	<string>sauap-planner-app</string>
	<key>STORAGE_BUCKET</key>
	<string>sauap-planner-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:758746573:ios:e81b4ba2705ebd87e20884</string>
</dict>
</plist>