<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBYMUL4wDQHoURNjXBSDJ10pUNcjs4tThk</string>
	<key>GCM_SENDER_ID</key>
	<string>874229837585</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sauapPlanner.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>sauapplannerapp</string>
	<key>STORAGE_BUCKET</key>
	<string>sauapplannerapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:874229837585:ios:c63e4788e0bd5a9d3de6b0</string>
</dict>
</plist>